<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Poker</title>

    <link href="/assets/webjars/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/webjars/bootstrap/3.2.0/css/bootstrap-theme.min.css">

</head>
<body style="background:url(/assets/images/pokerBack.png) no-repeat center center fixed; -webkit-background-size:cover; background-size: cover;">

<nav class="navbar navbar-default">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/index">Single Player</a></li>
            <li><a href="/history">History</a></li>
        </ul>
        <!-- <a class="navbar-brand" style="position:absolute; width:100%; left:0; text-align:center; margin:auto;">Poker Web Application</a> -->
        <ul class="nav navbar-nav navbar-right">
            <li><a>${register}</a></li>
            <li><a>R${money}</a></li>
            <li class="active"><a href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>
<br><br><br>

<div class="container">
    <div class="col-lg-6" style="background:#F9F9F9; border-radius:10px;">
        <h1 class="text-primary" align="center">Available Games to Join</h1>
        <div id="hostLobby" style="padding-left:20%;">
            <#noescape>${result}</#noescape>
            <br><br><br>
        </div>
    </div>
</div>


<script type="text/javascript"src="/assets/webjars/jquery/2.1.1/jquery.js"></script>
<script type="text/javascript" src="/assets/webjars/tinymce-jquery/4.0.16/jscripts/tiny_mce/tiny_mce.js" ></script>
<script type="text/javascript" src="/assets/webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/reload.js"></script>

</body>
</html>
